<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= person.name %></title>
</head>
<body>
    <h1><%= person._id %></h1>
    <h2>Name: <%= person.name %></h2>
    <h2>Age: <%= person.age %></h2>
    <h2>Gender: <%= person.gender %></h2>
    <a href='/person'>Back</a>
</body>
</html>